* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  content: "";
  background-color: #333333;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#fill-loader .circle {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 0.5rem yellow;
  background-color: yellow;
  box-shadow: 0 0 40px yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#fill-loader .circle::before {
  content: "Loading..";
  font-family: cursive;
  font-size: 2rem;
  font-weight: 800;
  color: #333333;
  position: absolute;
  top: 35%;
  left: 5%;
}

#fill-loader .circle::after {
  content: "";
  width: 150%;
  height: 150%;
  border-radius: 35%;
  background-color: #333333;
  position: absolute;
  display: block;
  top: -25%;
  left: -25%;
  animation: spin 4s linear infinite alternate-reverse;
}

@keyframes spin {
  from {
    transform: translateY(0) rotate(0deg);
  }
  to {
    transform: translateY(-100%) rotate(360deg);
  }
}
